html {
	font-family: Verdana,Geneva,sans-serif;
}

button {
	padding: 5px 10px;
	border: 1px solid rgb(242, 241, 240);
	border-radius: 5px;
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
}

#headerspan {
	margin: 5px;
}

#titlespan {
	text-align:center;
	margin-right: 10px;
	width:40%;
	font-size: 18px;
	border-radius: 5px;
	background-color: rgb(242, 241, 240);
}
#blankspan {
	width:10px;
}

#graphdiv {
	text-align:center
}

.paramtitle {
	font-size:16px;
}

.paramselected {
	background-color: orange;
}
