html {
	font-family: Verdana,Geneva,sans-serif;
}

button {
	padding: 5px 10px;
	border: 1px solid rgb(105, 105, 105);
	border-radius: 5px;
	cursor: pointer;
}

td {
	padding-bottom: 5px;
}

a {
	color: black;
	text-decoration: none;
}

iframe {
	border: 1px solid rgb(105, 105, 105);
	border-radius: 5px;
}

#headerspan {
	margin: 5px;
}

#titlespan {
	text-align:center;
	margin-right: 10px;
	width:550px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid rgb(105, 105, 105);
	background-color: rgb(242, 241, 240);
}
#blankspan {
	width:10px;
}

#graphdiv {
	text-align:center
}

#updatebtn {
	margin-left:15px;
}

#tr-cancel-cust{
	display: none;
	padding: 3px 7px;
}

#tr-cust-options{
	display: none;
}

#ti-cancel-cust{
	display: none;
	padding: 3px 7px;
}

#ti-cust-options{
	display: none;
}

.paramtitle {
	font-size:16px;
}

.paramselected {
	background-color: orange;
}

