html {
	font-family: Verdana,Geneva,sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

.graphlistitem {
	background-color: rgb(242, 241, 240);
	border: 1px solid rgb(242, 241, 240);
	padding: 10px;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:10px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	display: block;
}

.graphlistitem:hover{
	background-color: white;
}

#graphoptionstitle{
	font-size:20px;
	text-align:center;
	font-weight:bold;
	margin-bottom: 10px;
}
