{{!--
Copyright 2017, RadiantBlue Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

<div id="logs_toolbar">
	<span id="logs_pagination" class="logs_toolbar_item">
		<span id="logs_pagination_controllers_back" class="logs_pagination_controllers">&laquo;</span>
		<span id="logs_pagination_info"></span>
		<span id="logs_pagination_controllers_forward" class="logs_pagination_controllers">&raquo;</span>
	</span>
	<span id="logs_count" class="logs_toolbar_item">
		Logs per page: <input id="logs_count_input" min="1" type="number"/>
	</span>

</div>
