<div id="portStatus" class="statusin">
	<table id="statustable">
		<tr>
			<td>
				Elastic:
			</td>
			<td id="esport">
				9200
			</td>
			<td rowspan=2 id="statusarrow">
				&raquo
			</td>
		</tr>
		<tr>
			<td>
				Kibana:
			</td>
			<td id="kibport">
				5601
			</td>
		</tr>
	</table>
</div>
<script src="/js/status.js"></script>
