<span id="ti-nocust_opp">
	<button id="ti-cancel-cust"> X </button>
</span>

&nbsp;&nbsp;

<button class="custom" data-class="ti" id="ti-custom">Custom</button>

<span id="ti-cust-options">
	<input id="ti-cust-options-input" type="number" min="1"/>
	<button class="ti-op" id="ti-op-s" value="s">Seconds</button>
	<button class="ti-op" id="ti-op-m" value="m">Minutes</button>
	<button class="ti-op" id="ti-op-h" value="h">Hours</button>
	<button class="ti-op" id="ti-op-d" value="d">Days</button>
</span>
