<tr>
	<td>
		<span class="paramtitle">Time Interval: </span>
	</td>
	<td>
		<button class="ti" value="s">Second</button>
		<button class="ti" value="m">Minute</button>
		<button class="ti paramselected" value="h">Hourly</button>
		<button class="ti" value="d">Daily</button>
		<button class="ti" value="w">Weekly</button>
	</td>
</tr>