<tr>
	<td>
		<span class="paramtitle">Time Range: </span>
	</td>
	<td>
		<button class="tr" value="1h">1 hour</button>
		<button class="tr" value="4h">4 hours</button>
		<button class="tr" value="12h">12 hours</button>
		<button class="tr" value="24h">24 hours</button>
		<button class="tr paramselected" value="7d">7 days</button>
		<button class="tr" value="30d">30 days</button>
		<button class="tr" value="90d">90 days</button>
		<button class="tr" value="6m">6 months</button>
	</td>
</tr>