{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="/styles/displayGraph.css">
{{/section}}
<div id="headerspan">
		<table>
			<tr>
				<td id="titlespan" rowspan=3><a href="http://localhost:8000/" id="title">{{graphName}}</a></td>
				<td id="blankspan" rowspan=3></td>
				<!--Handlebars inserts here--!>
			</tr>
			
		</table>
</div>

<hr>
<div id="graphdiv">
</div>
<script src="/js/displayGraph.js"></script>