{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="styles/index.css">
	<link rel="stylesheet" type="text/css" href="styles/status.css">
{{/section}}
{{> status}}
<div id="graphoptionstitle">
	Select from available Graphs
</div>
<div id="graphoptions">
	{{#each graphNames}}
		<a class="graphlistitem" href="http://localhost:8000/graph/view/{{@key}}">{{@key}}</a>
	{{/each}}
</div>
